@charset "utf-8";
/* 💛#################### 초기화 ####################💛 */
* { margin: 0; padding: 0; list-style: none; box-sizing: border-box;}
a { text-decoration: none; color: var(--text-color); }
:root {
    --main-color: #0331aa;
    --sub-color: #eeeeee;
    --back-color: #ffffff;
    --text-color: #333333;
    --slide-width: 1200px;
    --slide-height: 300px;
}
body {
    background-color: var(--back-color);
    color: var(--text-color);
}

/* 💛#################### 레이아웃 ####################💛 */
.container {
    width: 1200px;
    margin: auto;
}
header {
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
section { width: 100%; }
#slides { height: 300px; }
#contents { height: 200px; }
footer { width: 100%; height: 100px; }

/* 💛#################### 헤더 ####################💛 */
/* 로고 */
header .logo a img {
    width: 200px;
    height: 40px;
}
/* 메뉴 */
header nav {
    position: relative;
    top: 10%;
    z-index: 10;
}
header nav .main-menu {
    display: flex;
    justify-self: center;
    align-items: center;
}
header nav .main-menu li {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
header nav .main-menu li a { 
    color: white; 
    display: inline-block;
    width: 100%;
    height: 100%;
}
header nav .main-menu li a:hover {
    background-color: #333333;
}
header nav .sub-menu { display: none;  }
header nav .sub-menu > li {
    background-color: white;
}
header nav .sub-menu > li a {
    color: var(--main-color);
}
header nav .sub-menu > li a:hover {
    background-color: var(--main-color);
    color: white;
}

/* 💛#################### 슬라이드 ####################💛 */
#slides {
    width: var(--slide-width);
    height: var(--slide-height);
    overflow: hidden;
}
.slide-container {
    position: relative;
    display: flex;
    /* 세로 슬라이드 */
    flex-direction: column;
}
.slide-container .slide {
    /* 페이드 슬라이드 */
    /* position: absolute; */       
    width: var(--slide-width);
    height: var(--slide-height);
}
.slide-container .slide img {
    width: var(--slide-width);
    height: 100%;
}

/* 💛#################### 컨텐츠 ####################💛 */
#contents {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-template-rows: 200px;
}

/* 공지/갤러리 탭 */
.tab-menu {
    display: flex;
    align-items: center;
    height: 40px;
}
.tab-menu .menu-item {
    border-bottom-width: 0;
    width: 100px;
    height: calc(40px - 2px);
    line-height: calc(40px - 2px);
    text-align: center;
}
.tab-menu .menu-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.tab-menu .menu-item:hover,
.tab-menu .menu-item.active {
    background-color: var(--main-color);
}
.tab-menu .menu-item:hover a,
.tab-menu .menu-item.active a {
    color: white;
}
.tab-content {
    position: relative;
    top: -2px;
}
.tab-content .content-item ul li a {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.tab-content .content-item ul li:nth-of-type(odd){
    background-color: var(--sub-color);
}
.tab-content .content-item ul li:nth-of-type(even){
    background-color: var(--back-color);
}
.tab-content .content-item ul li:hover {
    filter: brightness(90%);
}
.tab-content .content-item table td {
    padding: 0 10px;
    box-sizing: border-box;
}


/* 공지사항 */
.btn-modal { cursor: pointer; }
/* 갤러리 */
#content-gallery { display: none; }
.gallery {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc( (100% - 300px) / 4 );
}
/* 배너 */
.banner img { width: 100%; }
/* 바로가기 */
.link img { width: 100%; }


/* 💛#################### 푸터 ####################💛 */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 푸터로고 */
footer .footer-logo {
    padding: 0 20px;
    filter: grayscale(100%);
}
footer .footer-logo a img {
    width: 200px;
    height: 40px;
}
/* copyright */
footer .copy { 
    text-align: center;
}
/* sns */
footer .sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}



/* 💛#################### 레이어팝업 ####################💛 */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}
#modal .inner { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal .card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}
#modal .card h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--main-color);
}
#modal .card p {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--text-color);
}
#modal .close {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}