@charset "utf-8";
/* 초기화 */
* { margin: 0; padding: 0; list-style: none; box-sizing: border-box;}
a { text-decoration: none; color: var(--text-color); }
:root {
    --main-color: #0331aa;
    --sub-color: #eeeeee;
    --back-color: #ffffff;
    --text-color: #666666;
    --container-width: 100vw;
    --contianer-height: 100vh;
    --slide-width: calc(100vw - 600px);
    --slide-height: calc(100vh - 120px);
}
body {
    background-color: var(--back-color);
    color: var(--text-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* 레이아웃 */
.container {
    position: relative;
    width: var(--container-width);
    /* height: var(--contianer-height); */
    margin: auto;
    display: grid;
    grid-template-columns: 200px 400px calc(100vw - 600px);
    grid-template-rows: calc(100vh - 120px);
    /* overflow: hidden; */
}
header {
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 50px;
    padding: 0 20px;
}
section {
    /* width: 100%; */
    /* border: 1px solid darkcyan; */
    /* background-color: cornflowerblue; */
}
#slides {  }
#contents {  }
footer {
    /* width: 100%; */
    /* height: 120px; */
    /* border: 1px solid darkcyan; */
}



/* 로고 */
header .logo {}
header .logo a {}
header .logo a img {
    width: 200px;
    height: auto;
    object-fit: contain;
}
/* 메뉴 */
header nav {
    position: relative;
    z-index: 10;
}
header nav .main-menu {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
header nav .main-menu li {
    width: 200px;
    /* height: 50px; */
    line-height: 50px;
    text-align: center;
}
header nav .main-menu li a { 
    color: white; 
    display: inline-block;
    width: 100%;
    height: 100%;
}
header nav .main-menu li a:hover {
    background-color: #333333;
}

header nav .sub-menu { display: none;  }

header nav .sub-menu > li {
    background-color: white;
}

header nav .sub-menu > li a {
    color: var(--main-color);
}

header nav .sub-menu > li a:hover {
    background-color: var(--main-color);
    color: white;
}

/* 스팟 메뉴 */
header .spot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    column-gap: 20px;
}

header .spot a {
    position: relative;
    color: var(--back-color);
}

header .spot a:not(:first-of-type)::before {
    position: absolute;
    left: -10px;
    content: "";
    display: inline-block;
    width: 2px;
    height: 18px;
    border: 1px solid 2px;
    background-color: var(--back-color);
}


/* 슬라이드 */
#slides {
    width: var(--slide-width);
    height: var(--slide-height);
    overflow: hidden;
}
.slide-container {
    /* 가로 슬라이드 */
    /* width: calc( var(--slide-width) * 3 ); */
    position: relative;
    display: flex;
    /* 세로 슬라이드 */
    flex-direction: column;
}
.slide-container .slide {
    /* 페이드 슬라이드 */
    /* position: absolute;        */
    width: var(--slide-width);
    height: var(--slide-height);
}
.slide-container .slide a {
    
}
.slide-container .slide img {
    width: var(--slide-width);
    height: var(--slide-height);
}

















/* 푸터 */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
/* 푸터로고 */
footer .footer-logo {
    /* padding: 0 20px; */
    filter: grayscale(100%);
}
footer .footer-logo a {
    
}
footer .footer-logo a img {
    width: 200px;
    height: auto;
    object-fit: contain;
}

/* footer inner */
footer .inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 40px;
}

/* fnb */
footer .fnb {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 40px;
    padding: 0 20px;
}

footer .fnb a {
    position: relative;
    width: 100px;
    text-align: center;
}

footer .fnb a:hover {
    color: var(--main-color);
    font-weight: bold;
}

footer .fnb a:not(:first-of-type)::before {
    position: absolute;
    top: 2px;
    left: -20px;
    content: "";
    display: inline-block;
    width: 2px;
    height: 18px;
    border: 1px solid 2px;
    background-color: var(--text-color);
}

/* copyright */
footer .copy { 
    padding: 0 20px;
}

/* 레이어팝업 */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#modal .inner { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal .card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

#modal .card h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--main-color);
}

#modal .card p {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--text-color);
}

#modal .close {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}