@charset "utf-8";
/* 초기화 */
* { margin: 0; padding: 0; list-style: none; box-sizing: border-box;}
a { text-decoration: none; color: var(--text-color); }
:root {
    --main-color: #0331aa;
    --sub-color: #eeeeee;
    --back-color: #ffffff;
    --text-color: #333333;
    --container-width: 100vw;
    --contianer-height: 100vh;
    --slide-width: calc(100vw - 200px);
    --slide-height: 400px;
}
body {
    background-color: var(--back-color);
    color: var(--text-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* 레이아웃 */
.container {
    position: relative;
    width: var(--container-width);
    margin: auto;
    display: grid;
    grid-template-columns: 200px calc(100vw - 200px);
    grid-template-rows: calc(400px + 150px + 250px);
}
header {
    height: calc(400px + 150px + 250px);
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 50px;
    padding: 0 20px;
}
section {
    /* width: 100%; */
    /* border: 1px solid darkcyan; */
    /* background-color: cornflowerblue; */
}
#slides {  }
#contents {
    position: relative;
    overflow: hidden;
}
footer {
    height: 120px;
}



/* 로고 */
header .logo {}
header .logo a {}
header .logo a img {
    width: 200px;
    height: auto;
    object-fit: contain;
}
/* 메뉴 */
header .menu {
    position: relative;
}
header nav {
    position: relative;
    z-index: 10;
}
header nav .main-menu {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
header nav .main-menu li {
    width: 150px;
    /* height: 50px; */
    line-height: 50px;
    text-align: center;
}
header nav .main-menu li a { 
    color: white; 
    display: inline-block;
    width: 100%;
    height: 100%;
}
header nav .main-menu li a:hover {
    background-color: #333333;
}

header nav.sub {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: calc(100vw - 200px);
}

header nav.sub .inner {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgba(255,255,255,0.7);
    padding: 0 40px;
}

header nav.sub .sub-menu > li {
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 2vw;
}
header nav.sub .sub-menu > li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: var(--main-color);
}
header nav.sub .sub-menu > li a:hover {
    background-color: var(--main-color);
    color: white;
}


header .spot a {
    position: relative;
    color: var(--back-color);
}

header .spot a:not(:first-of-type)::before {
    position: absolute;
    left: -10px;
    content: "";
    display: inline-block;
    width: 2px;
    height: 18px;
    border: 1px solid 2px;
    background-color: var(--back-color);
}


/* 슬라이드 */
#slides {
    width: var(--slide-width);
    height: var(--slide-height);
    overflow: hidden;
}
.slide-container {
    /* 가로 슬라이드 */
    /* width: calc( var(--slide-width) * 3 ); */
    position: relative;
    display: flex;
    /* 세로 슬라이드 */
    /* flex-direction: column; */
}
.slide-container .slide {
    /* 페이드 슬라이드 */
    position: absolute;       
    width: var(--slide-width);
    height: var(--slide-height);
}
.slide-container .slide a {
    
}
.slide-container .slide img {
    width: var(--slide-width);
    height: var(--slide-height);
}

/* 배너 */
.banner {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--sub-color);
}

.banner .inner {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.banner h1 { font-size: 28px; }
.banner span { font-size: 14px; }
.banner p { font-size: 18px; margin: 20px 0;}


/* 공지/갤러리 탭 */
.tab {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
    padding: 20px;
    height: 250px;
}
.tab-menu {
    display: flex;
    align-items: center;
    height: 40px;
}
.tab-menu .menu-item {
    /* border: 1px solid var(--main-color); */
    border-bottom-width: 0;
    width: 100px;
    height: calc(40px - 2px);
    line-height: calc(40px - 2px);
    text-align: center;
    background-color: var(--main-color);
}
.tab-menu .menu-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
}

.tab-content {
    /* border: 1px solid var(--main-color); */
    position: relative;
    top: -2px;
}

.tab-content .content-item {}
.tab-content .content-item ul li a {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}


.tab-content .content-item ul li:nth-of-type(odd){
    background-color: var(--sub-color);
}
.tab-content .content-item ul li:nth-of-type(even){
    background-color: var(--back-color);
}
.tab-content .content-item ul li:hover {
    filter: brightness(90%);
}

.tab-content .content-item table td {
    padding: 0 10px;
    box-sizing: border-box;
}


/* 공지사항 */
#content-notice {}
.btn-modal { cursor: pointer; }
/* 갤러리 */
#content-gallery { 
    /* display: none;  */
}
.gallery {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc( (100% - 300px) / 4 );
}
.gallery .item {}
.gallery .item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery .item a img {}


/* 바로가기 */
.link {
    height: 150px;
}
.link nav {
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
}
.link nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--sub-color);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.link nav a:hover {
    transform: translateY(-10px);
    transition: all 0.3s;
}





/* 푸터 */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 푸터로고 */
footer .empty {
    width: 200px;
}
footer .footer-logo a {
    
}

/* footer inner */
footer .inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
}

/* fnb */
footer .fnb {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 40px;
    padding: 0 20px;
}

footer .fnb a {
    position: relative;
    width: 100px;
    text-align: center;
}

footer .fnb a:hover {
    color: var(--main-color);
    font-weight: bold;
}

footer .fnb a:not(:first-of-type)::before {
    position: absolute;
    top: 2px;
    left: -20px;
    content: "";
    display: inline-block;
    width: 2px;
    height: 18px;
    border: 1px solid 2px;
    background-color: var(--text-color);
}

/* copyright */
footer .copy { 
    padding: 0 30px;
}

/* family */
footer .family {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

footer .family select {
    border-radius: 5px;
    background-color: var(--sub-color);
    color: var(--main-color);
    cursor: pointer;
    padding: 5px 10px;
}




/* 레이어팝업 */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#modal .inner { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal .card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

#modal .card h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--main-color);
}

#modal .card p {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--text-color);
}

#modal .close {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}