@charset "UTF-8";

/* 초기설정 */
*{
  margin:0;
  padding:0;
  list-style:none;
  box-sizing: border-box;
}
body{
  background: #f2f2f2;
  color:#333333;
}
a{
  text-decoration:none;
  display: block;
}

/*본문시작*/
main{
  width:1200px;
  margin:0 auto;
  position:relative; /* 서브 메뉴 때문에 반드시 필요함   */
}

/* 메뉴와 로고가 들어가는 header */
header{
  width:100%;
  height:100px;
  background:#ff5050;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width:20%;
  height:100%;
  display: flex; /*로고 이미지를 중앙에 위치 시키기 위해 flex로 지정하여 수평, 수직 정렬이 되도록 하기 위해.*/
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}
.logo > img {
  width:200px; /*지시사항에 적힌대로 width값 */
  height:40px; /*지시사항에 적힌대로 height값 */
}

/*메인메뉴*/
.mainMenu {
  width:70%;
  height:100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.mainMenu > a {
  padding:30px 0;
  font-weight:bold;
  width:100%;
  text-align: center;
  color:#333333;
}
.mainMenu > a:hover {
  background:rgba(255,255,255, 0.2);
}

/*서브메뉴*/
.subMenu{
  width:100%;
  display:flex;
  justify-content:flex-end;
  background:#333333;
  position:absolute;
  z-index: 1;
}
.subMenuWrap{
  width:70%; /*메인메뉴 위치랑 동일하게*/
  height:100%;
  display:flex;
  justify-content: space-around;
}
.subMenuWrap > ul {
  width:100%;
}
.subMenuWrap > ul > li > a {
  text-align: center;
  padding:8px 0;
  color:#dddddd;
}
.subMenuWrap > ul > li > a:hover{
  background:rgba(255,255,255, 0.2);
  color:#ffc000;
}

/* 이미지슬라이드 */
.imgSlide{
  position:relative;
  width:100%;
  height:300px;
  overflow: hidden;
  background: #eeeeee;
}
.imgSlide > a{
  position:absolute;
  top:0;
  left:0;
  overflow: hidden;
}
.imgSlide a > img {height:100%;}
.imgText{
  position:absolute;
  top:50%;
  left:50%;
  margin: -10px -180px;
  background: rgba(255, 192, 0, 0.4) ;
  color:#ffffff;
	padding: 20px 100px;
	font-weight: bold;
}

/* 컨텐츠 영역 */
.contents{
  width: 100%;
  height:200px;
  padding:0;
  margin:10px 0;
  display:flex;
	justify-content: space-between;
  overflow: hidden;
}
/* 각각 컨텐츠 박스의 영역 */
.contents div{ width:33.3%;}
.contents > div:nth-of-type(2){margin:0 10px;}

/* 공지사항과 갤러리 공통 */
.contents h4{
  width:30%;
  padding:6px 10px;
  background:#ffc000;
  color:#333333;
  font-weight: bold;
  text-align: center;
  cursor:pointer;
}
.contents h4:hover{
  background:#5b9bd5;
  color:#eeeeee;
}
.contents ul{
  height:167px; /* chrome inspect(검사) 보고 수치 계산 */
  background:#ffffff;
  border:1px solid #dddddd;
  box-sizing: border-box;
  font-size:12px;
  line-height: 40px;
}

/* 컨텐츠 첫번째 : 공지사항 */
.notice li{padding:0 10px;}
.notice li:nth-child(even){ background:rgba(255,192,0, 0.1);}
.notice li:hover{color:#333333; background:rgba(91,155,213, 0.1);}
.notice li span {float:right;}

/* 컨텐츠 두번째 : 갤러리 */
.gallery > ul,
.gallery > ul > li,
.gallery > ul > li > a{
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.gallery img{width:80%; display:block; }
.gallery img:hover{opacity: 0.7;}

/* 컨텐츠 세번째 : 바로가기 */
.direct{
  overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
  background: url("../img/direct.jpg") center center ;
  }
.direct a{
	width:50%;
  padding:10px 0;
	text-align:center;
	color:#ffffff;
	font-weight:bold;
  background:rgba(255,192,0, 0.5);
}

.direct a:hover{
  background:rgba(91,155,213, 0.5);
  color:#ffffff;
}

/* 하단 */
footer{
  height:100px;
  padding:0 40px;
  background:#5b9bd5;
  display: flex;
  justify-content:space-between;
  align-items:center;
}
/* 공통 */
footer div { display: flex; justify-content: center; }

/* 하단메뉴와 카피라이트 그룹  */
.footerGroup{
  width:40%;
  height:100%;
	padding:20px 0;
  flex-direction: column;
  justify-content: space-around;
}
/* 하단메뉴 */
.footerMenu{
	justify-content: space-between;
}
.footerMenu a {color:#ffffff;}
.footerMenu a:hover {color:#ffc000;}
/* 카피라이트 */
.footerCright {
  letter-spacing: 0.4px;
  font-size: 16px; color: #ffffff;
}

/* 패밀리 사이트 */
.familySite{ width:25%; }
.familySite > select{ width:100%; padding: 8px; }

#modalWrap{
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
#modalWrap.active{
  display:block;
}
.modal{
  position:fixed;
  width:450px;
  padding:20px;
  top:40%;
  left:40%;
  background:#ffffff;
}
.modal > h1{
  margin:10px 0;
  text-align: center;
}
.modal > p{
  text-align:justify;
}

.btn{
  width:100%;
  padding:10px;
  margin-top:20px;
  background: #ffc000;
  color:#ffffff;
  border:0;
  font-weight: bold;
  cursor:pointer;
}
.btn:hover{background:rgba(255,192,0, 0.2); color:#ffc000,;}